<% if @product.downloadables.visible.present? %>
  <strong><%=t 'downloads' %>:</strong>
  <ul>
    <% @product.downloadables.visible.each do |downloadable| %>
      <li>
      	<%= link_to spree.downloadable_path(downloadable) do %>
	        <%= downloadable.title %>
        <% end %>
      </li>
    <% end -%>
  </ul>
<% end -%>